<VirtualHost *:80>
  ServerName {{ vhost_domain }}
  ServerAlias www.{{ vhost_domain }}
  Redirect permanent / https://{{ vhost_domain }}/
  DirectoryIndex index.php index.html

  CustomLog /var/log/httpd/{{ vhost_domain }}-access_log combined
  ErrorLog  /var/log/httpd/{{ vhost_domain }}-error_log

  DocumentRoot /var/www/nextcloud
  
  <FilesMatch \.php$>
    SetHandler "proxy:unix:/var/run/php-fpm/www.sock|fcgi://localhost"
  </FilesMatch>

   <Directory /var/www/nextcloud/>
    Options +FollowSymlinks
    AllowOverride All
  <IfModule mod_dav.c>
   Dav off
  </IfModule>
    SetEnv HOME /var/www/nextcloud
    SetEnv HTTP_HOME /var/www/nextcloud
  </Directory>

</VirtualHost>

<VirtualHost *:443>
    ServerName {{ vhost_domain }}
    ServerAlias www.{{ vhost_domain }}
    DocumentRoot /var/www/nextcloud
   
    CustomLog /var/log/httpd/{{ vhost_domain }}-access_log combined
    ErrorLog  /var/log/httpd/{{ vhost_domain }}-error_log

    SSLEngine on
    SSLCertificateFile /etc/pki/tls/certs/cert.pem
    SSLCertificateKeyFile /etc/pki/tls/certs/key.pem

  <Directory /var/www/nextcloud/>
    Options +FollowSymlinks
    AllowOverride All
  <IfModule mod_dav.c>
   Dav off
  </IfModule>
    Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"
    SetEnv HOME /var/www/nextcloud
    SetEnv HTTP_HOME /var/www/nextcloud
  </Directory>

</VirtualHost>
